In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Z:\Mtech\Mtech_Projects\IPL_prediction\IPL_prediction_end-to-end\IPL_Ball_by_Ball_2008_2022.csv')

In [3]:
df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [4]:
df.columns

Index(['ID', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam'],
      dtype='object')

In [5]:
total_runs = df.groupby(['ID','innings']).sum()["total_run"].add(1).reset_index()

In [6]:
total_runs

           ID  innings  total_run
0      335982        1        223
1      335982        2         83
2      335983        1        241
3      335983        2        208
4      335984        1        130
...       ...      ...        ...
1923  1312198        2        194
1924  1312199        1        158
1925  1312199        2        162
1926  1312200        1        131
1927  1312200        2        134

[1928 rows x 3 columns]

In [7]:
df['BattingTeam'].value_counts()

BattingTeam
Mumbai Indians                 27826
Royal Challengers Bangalore    26512
Kolkata Knight Riders          26192
Chennai Super Kings            25128
Rajasthan Royals               22777
Kings XI Punjab                22646
Delhi Daredevils               18786
Sunrisers Hyderabad            18196
Deccan Chargers                 9034
Delhi Capitals                  7587
Pune Warriors                   5443
Gujarat Lions                   3566
Punjab Kings                    3388
Gujarat Titans                  1971
Rising Pune Supergiant          1900
Lucknow Super Giants            1840
Kochi Tuskers Kerala            1582
Rising Pune Supergiants         1580
Name: count, dtype: int64

In [8]:
teams = ["Mumbai Indians",
         "Royal Challengers Bangalore",
         "Kolkata Knight Riders",
         "Chennai Super Kings",
         "Rajasthan Royals",
         "Kings XI Punjab",
         "Delhi Daredevils",
         "Sunrisers Hyderabad",
         "Deccan Chargers",
         "Delhi Capitals",
]

In [9]:
df = df[df['BattingTeam'].isin(teams)]

In [12]:
df['BattingTeam'].value_counts()

BattingTeam
Mumbai Indians                 27826
Royal Challengers Bangalore    26512
Kolkata Knight Riders          26192
Chennai Super Kings            25128
Rajasthan Royals               22777
Kings XI Punjab                22646
Delhi Daredevils               18786
Sunrisers Hyderabad            18196
Deccan Chargers                 9034
Delhi Capitals                  7587
Name: count, dtype: int64

In [13]:
df.columns

Index(['ID', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam'],
      dtype='object')

In [14]:
df.shape

(204684, 17)